{% extends "layout/base_header.html" %}

{% load bootstrap4 %}

{% block title %}Удаление задачи{% endblock %}


{% block content %}
    <h2 class="pb-3 mb-4 border-bottom">Удаление задачи 
        <a href="{% url 'read_task' object.pk %}">
            {{ object.title }}
        </a>
    </h2>
    <form method="post">
        {% csrf_token %}
        <p class="mb-5">Вы уверены, что хотите навсегда удалить эту задачу? Восстановить её будет невозможно.</p>
        <input type="submit" value="Удалить" class="btn btn-danger btn-block">
    </form>
{% endblock %}
