{% extends "layout/base_header.html" %}

{% load static %}

{% block title %}Просмотр задачи{% endblock %}

{% block style %}
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
    {{ block.super }}
{% endblock %}

{% block content %}
    <div>
        <h2 class="pb-3 mb-4 border-bottom">{{ object.title }}</h2>
        <div class="font-weight-light pb-4 border-bottom">
            {% if object.description %}
                {{ object.description }}
                <br><br>
            {% endif %}
            <b>Автор: </b><a href="{% url 'profile' object.creator %}">{{ object.creator }}</a>
            <br>
            <b>Опубликовано:</b> {{ object.published_at }}
        </div>
        <div id="content" class="text-justify font-weight-light" style='padding: 2em 0 0;'>
            <textarea>{{ object.content }}</textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
    <script>
    $(function () {
        editormd.markdownToHTML("content", {
            emoji           : true,
            taskList        : true,
            tex             : true,
            flowChart       : true,
            sequenceDiagram : true,
        });

        $(".reference-link").each(function (i,obj) {
            console.log(obj)
        })
    })
    </script>
{% endblock %}