{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %}Главная{% endblock %} · math-abiturient</title>
        {% block static %}
            <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>