{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %}Главная{% endblock %} · math-abiturient</title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    </head>
    <body>
        <header class="navbar ma-navbar">
            <nav class="container">
                <a class="navbar-brand nav-ma-link" href="/">math-abiturient</a>
                {% if request.user.is_authenticated %}
                    <div>
                        <a class="btn btn-ma-login" href="{% url 'profile' %}">Мой профиль</a>
                        <a class="btn btn-ma-login" href="{% url 'logout' %}">Выйти</a>
                    </div>
                {% else %}
                    <div>
                        <a class="btn btn-ma-login" href="#">Регистрация</a>
                        <a class="btn btn-ma-login" href="{% url 'login' %}">Войти</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>