{% extends "layout/basic.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
    {% include "layout/header.html" %}
<div class="container mt-5">

    {# Фото пользователя #}
    {% if object.image %}
        <img src="{{ MEDIA_URL }}{{ object.image }}" alt="" class="rounded" style="object-fit: cover;" width="128" height="128"/>    
    {% else %}
        <img src="{{ MEDIA_URL }}default-profile.png" alt="" class="rounded" style="object-fit: cover;" width="128" height="128"/>
    {% endif %}

    {# Имя пользователя #}
    {% if object.first_name and object.last_name %}
        {{ object.first_name }} {{ object.last_name }}
    {% else %}
        {{ object.username }}
    {% endif %}

    {# Настройка профиля #}
    {% if user.username == object.username %}
        <div>
            <a class="btn btn-ma-login" href="{% url 'edit_profile' %}">Изменить личные данные</a>
            <a class="btn btn-ma-login" href="{% url 'password_change' %}">Изменить пароль</a>
            <a class="btn btn-ma-login" href="{% url 'profile_delete' %}">Удалить профиль</a>
        </div>
    {% endif %}

</div>
{% endblock %}