{% extends "layout/basic.html" %}

{% load bootstrap5 %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="mt-5 p-3">
        <div class="register-header">
            <h2>Регистрация</h2>
        </div>
        <div class="register-body">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Зарегистрироваться" class="btn btn-success btn-block mt-3">
            </form>
        </div>
    </div>
{% endblock %}