{% extends "layout/base_header.html" %}

{% load static %}
{% load bootstrap4 %}

{% block style %}
    {{ block.super }}
    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div>
        <h2 class="text-center">Поиск</h2>
    </div>
    <div class="mx-4 pb-4 font-weight-light">
        {% for obj in task_list %}
            <div class="mt-4 p-3 shadow border rounded">
                <h4 class="border-bottom pb-2">
                    <a href="{% url 'read_task' obj.pk %}">{{ obj.title }}</a>
                </h4>
                {% if obj.description %}
                    <div class="pb-3 text-justify">{{ obj.description }}</div>
                {% endif %}
                <div class="pb-3 text-justify">
                    <b>Автор: </b><a href="{% url 'profile' obj.creator %}">{{ obj.creator }}</a>
                    <br>
                    <b>Опубликовано:</b> {{ obj.published_at }}
                </div>
                {% if user.is_authenticated and obj.creator != user %}
                    <div class="border-top" data-id="{{ obj.pk }}" data-type="task" data-action="favorite" title="В избранное">
                        <span data-count="favorite" class="fas fa-star {% if obj in user_favorites %} active {% endif %}">{# {{ obj.get_favorite_count }} #}</span>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <div class="mt-4 no-content">К сожалению, ничего не найдено</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'main/js/script.js' %}"></script>
{% endblock js %}