/* Removes the bootstrap glow */
input, button, textarea, select, a
{
    outline: none;
    box-shadow: none !important;
}

/* Navbar */
.bg-navbar
{
    background-color: rgb(0, 115, 187);
}


/* Buttons */
.btn-ma-login
{
    font-weight:600;
    color:#ffe484;
    border-color:#ffe484;
}

.btn-ma-login:hover,
.btn-ma-login:active
{
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484;
}

.btn-profile
{
    font-weight:400;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 115, 187);
    border-color:rgb(0, 115, 187);
}

.btn-profile:hover,
.btn-profile:active
{
    color: #ffffff;
    background-color: rgb(0, 81, 131);
    border-color: rgb(0, 81, 131);
}

/* Forms */
.auth-header,
.auth-body,
.auth-footer,
.auth-logo
{
    min-width: 270px;
    max-width: 340px;
    margin: 0 auto;
}

.auth-logo
{
    margin: 45px auto;
    text-align: center;
}

.auth-header
{
    margin-bottom: 20px;
    text-align: center;
}

.auth-body
{
    border-radius: 10px;
    padding: 20px 25px;
    border: 1px solid rgba(0, 0, 0, 0.055);
    background-color: rgba(0, 115, 187, 0.075);
}


.auth-footer
{
    text-align: center;
    margin-top: 35px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.register-header,
.register-body
{
    min-width: 290px;
    max-width: 400px;
    margin: 0 auto;
}

.register-header
{
    text-align: center;
    margin-bottom: 30px;
}

/* icons */
span.fas.fa-star.active
{
    -webkit-text-stroke: 0.2px rgb(71, 117, 119);
    color:aqua;
}

span.fas.fa-star
{
    padding-top: 15px;
}

.btn-icon {
    min-width: 44px;
}

.tab-pane.fade.min-height
{
    min-height: 170px;
}

div.mt-4.no-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.editormd-preview-container, span.editormd-tex, .editormd-html-preview, span.editormd-tex {
    margin: 0px !important;
}
